/*
  Extracurricular Activities cards reuse the Projects card UI.
  This file only provides image-size variants that layer on top of
  the existing `.card-image` styles from StartupProjects.
*/

.card-image-sm {
  width: 180px;
}

.card-image-md {
  width: 250px;
}

.card-image-lg {
  width: 320px;
}

.card-image-xl {
  width: 380px;
}
